<div class="row subtitulo">
    <div class="col-md-12 text-left"><h6 class="dom"><i class="fa fa-book"></i> Listado Pedidos Marbetes</h6></div>
</div>
<br>
<table id="tabla" class="table table-striped dataTables dataTable no-footer dtr-inline pedidos_listado"></table>
<div>
    <div class="col-md-11 text-right">
        <a class="btn btn-primary" href="{{{LINK}}}">NUEVO</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6 exportador">   
        <button class="btn btn-default accion_exportador" value="{{{BOTON_EXCEL}}}"><span class="fa fa-file-text-o"></span> DESCARGAR EXCEL</button> 
    </div>

</div>